{% extends "base.html" %}

{% block content %}

    {% if mainpage %}
        <h1>Blog Posts!</h1>

        {% if blogs|length == 0 %}
            <p>No Blogs yet!</p>
        {% else %}

        
            {% for blog in blogs %}
                <article>
                    <h3><a href="/blog?id={{blog.id}}">{{blog.title}}</a></h3>
                    <p>{{blog.body}}</p>
                    {%if users is iterable%}
                        {% for user in users %}
                            {% if user.id == blog.owner_id %}
                                <div class='author'>written by <a href="/blog?user={{user.username}}">{{user.username}} </a></div>
                            {%endif%}    
                        {% endfor%}
                    {% else %}
                        <div class='author'>written by <a href="/blog?user={{users.username}}">{{users.username}} </a></div>
                    {%endif%}    
                </article>  
                <hr/>
            {% endfor %}
        

        {% endif %}
    {% else %}
        <h1>{{blogs.title}}</h1>
        <p>{{blogs.body}}</p>
        <div class='author'>written by <a href="/blog?user={{users.username}}">{{users.username}}</a></div>
    {% endif %}   
{% endblock %}